*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 5rem;
    padding-top: 50px;
}
h2{
    text-align: center;
    font-size: 3rem;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.display{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100%;
}

